{
    "openapi": "3.0.2",
    "info":
    {
        "title": "Listok API",
        "description": "Listok API",
        "termsOfService": "https://listok.app/terms/",
        "contact":
        {
            "email": "hi@listok.dev"
        },
        "license":
        {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "externalDocs":
    {
        "description": "Find out more about Listok",
        "url": "https://listok.app"
    },
    "servers":
    [
        {
            "url": "https://api.listok.dev/1.0/"
        }
    ],
    "paths":
    {
        "/auth/register":
        {
            "post":
            {
                "summary": "Register user into the system",
                "description": "",
                "operationId": "registerUser",
                "requestBody":
                {
                    "content":
                    {
                        "application/json":
                        {
                            "schema":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "email":
                                    {
                                        "description": "Email",
                                        "type": "string"
                                    },
                                    "password":
                                    {
                                        "description": "User password",
                                        "type": "string"
                                    }
                                },
                                "required":
                                [
                                    "email",
                                    "password"
                                ]
                            }
                        }
                    }
                },
                "responses":
                {
                    "200":
                    {
                        "description": "successful operation",
                        "content":
                        {
                            "application/json":
                            {
                                "schema":
                                {
                                    "$ref": "#/components/schemas/AuthResponse"
                                }
                            }
                        }
                    },
                    "400":
                    {
                        "description": "Invalid email/password supplied"
                    }
                }
            }
        },
        "/auth/login":
        {
            "post":
            {
                "summary": "Log in user into the system",
                "description": "",
                "operationId": "loginUser",
                "requestBody":
                {
                    "content":
                    {
                        "application/json":
                        {
                            "schema":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "email":
                                    {
                                        "description": "Email",
                                        "type": "string"
                                    },
                                    "password":
                                    {
                                        "description": "User password",
                                        "type": "string"
                                    }
                                },
                                "required":
                                [
                                    "email",
                                    "password"
                                ]
                            }
                        }
                    }
                },
                "responses":
                {
                    "200":
                    {
                        "description": "successful operation",
                        "content":
                        {
                            "application/json":
                            {
                                "schema":
                                {
                                    "$ref": "#/components/schemas/AuthResponse"
                                }
                            }
                        }
                    },
                    "400":
                    {
                        "description": "Invalid email/password supplied"
                    }
                }
            }
        },
        "/auth/token/refresh":
        {
            "post":
            {
                "summary": "Log in user into the system",
                "description": "",
                "operationId": "tokenRefresh",
                "requestBody":
                {
                    "content":
                    {
                        "application/json":
                        {
                            "schema":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "refreshToken":
                                    {
                                        "description": "Refresh token",
                                        "type": "string"
                                    }
                                },
                                "required":
                                [
                                    "refreshToken"
                                ]
                            }
                        }
                    }
                },
                "responses":
                {
                    "200":
                    {
                        "description": "successful operation",
                        "content":
                        {
                            "application/json":
                            {
                                "schema":
                                {
                                    "$ref": "#/components/schemas/AuthorizationCredential"
                                }
                            }
                        }
                    },
                    "400":
                    {
                        "description": "Invalid refresh token supplied"
                    }
                }
            }
        },
        "productivity/tasks":
        {
        	"get":
            {
                "summary": "Get all user tasks",
                "description": "",
                "operationId": "getAllTasks",
                "responses":
                {
                    "200":
                    {
                        "description": "successful operation",
                        "content":
                        {
                            "application/json":
                            {
                                "schema":
                                {
                                	"type": "array",
                                	"items":
                                	{
                                    	"$ref": "#/components/schemas/AuthorizationCredential"
                                    }
                                }
                            }
                        }
                    },
                    "400":
                    {
                        "description": "Invalid refresh token supplied"
                    }
                }
            }
        }

    },
    "components":
    {
        "schemas":
        {
        	"Task":
            {
                "type": "object",
                "properties":
                {
                    "id":
                    {
                        "type": "string",
                        "format": "uuid"
                    },
                    "author":
                    {
                        "$ref": "#/components/schemas/User"
                    },
                    "title":
                    {
                        "type": "string"
                    },
                    "tags":
                    {
                        "type": "array",
                        "items":
                    	{
                        	"$ref": "#/components/schemas/Tag"
                        }
                    },
                    "deadline":
                    {
                        "type": "string",
                        "format": "date"
                    },
                    "isDone":
                    {
                        "type": "boolean"
                    },
                    "isArchived":
                    {
                        "type": "boolean"
                    },
                    "isFocused":
                    {
                        "type": "boolean"
                    },
                    "isParticipating":
                    {
                        "type": "boolean"
                    },
                    "isMuted":
                    {
                        "type": "boolean"
                    },
                    "unreadMessageCount":
                    {
                        "type": "integer"
                    },
                    "assignees":
                    {
                        "type": "array",
                        "items":
                    	{
                        	"$ref": "#/components/schemas/User"
                        }
                    },
					"doneAt":
                    {
                        "type": "string",
                        "format": "date"
                    },
                    "updatedAt":
                    {
                        "type": "string",
                        "format": "date"
                    },
                    "createdAt":
                    {
                        "type": "string",
                        "format": "date"
                    },
                }
            },
            "Tag":
            {
                "type": "object",
                "properties":
                {
                    "id":
                    {
                        "type": "integer",
                        "format": "int64"
                    },
                    "name":
                    {
                        "type": "string"
                    }
                },
                "xml":
                {
                    "name": "Tag"
                }
            },
            "AuthResponse":
            {
                "type": "object",
                "properties":
                {
                    "accessToken":
                    {
                        "type": "string"
                    },
                    "refreshToken":
                    {
                        "type": "string"
                    },
                    "user":
                    {
                        "$ref": "#/components/schemas/User"
                    }
                }
            },
            "User":
            {
                "type": "object",
                "properties":
                {
                    "id":
                    {
                        "type": "integer",
                        "format": "int64"
                    },
                    "profile":
                    {
                        "$ref": "#/components/schemas/Profile"
                    }
                },
                "xml":
                {
                    "name": "User"
                }
            },
            "Profile":
            {
                "type": "object",
                "properties":
                {
                    "username":
                    {
                        "type": "string"
                    },
                    "firstName":
                    {
                        "type": "string"
                    },
                    "avatar":
                    {
                        "$ref": "#/components/schemas/Image"
                    }
                }
            },
            "Image":
            {
                "type": "object",
                "properties":
                {
                    "thumb":
                    {
                        "type": "string"
                    },
                    "original":
                    {
                        "type": "string"
                    }
                }
            },
            "AuthorizationCredential":
            {
            	"type": "object",
                "properties":
                {
                    "accountId":
                    {
                        "type": "uuid"
                    },
                    "accessToken":
                    {
                        "type": "String"
                    },
                    "refreshToken":
                    {
                        "type": "String"
                    }
                }
            },
            "ApiResponse":
            {
                "type": "object",
                "properties":
                {
                    "code":
                    {
                        "type": "integer",
                        "format": "int32"
                    },
                    "type":
                    {
                        "type": "string"
                    },
                    "message":
                    {
                        "type": "string"
                    }
                },
                "xml":
                {
                    "name": "##default"
                }
            }
        },
        "requestBodies":
        {
            
        },
        "securitySchemes":
        {
        	"bearerAuth":
        	{
            	"type": "http",
            	"scheme": "bearer",
            	"bearerFormat": "JWT"
            }
        }
    }
}