{
    "openapi": "3.0.2",
    "info":
    {
        "title": "Listok API",
        "description": "Listok API",
        "termsOfService": "https://listok.app/terms/",
        "contact":
        {
            "email": "hi@listok.dev"
        },
        "license":
        {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "externalDocs":
    {
        "description": "Find out more about Listok",
        "url": "https://listok.app"
    },
    "servers":
    [
        {
            "url": "https://api.listok.dev/1.0/"
        }
    ],
    "paths":
    {
        "/auth/register":
        {
            "post":
            {
                "tags":
                [
                    "user"
                ],
                "summary": "Register user into the system",
                "description": "",
                "operationId": "registerUser",
                "requestBody":
                {
                    "content":
                    {
                        "application/json":
                        {
                            "schema":
                            {
                                "type": "object",
                                "properties":
                                {
                                    "email":
                                    {
                                        "description": "Email",
                                        "type": "string"
                                    },
                                    "password":
                                    {
                                        "description": "User password",
                                        "type": "string"
                                    }
                                },
                                "required":
                                [
                                    "status",
                                ]
                            }
                        }
                    }
                },
                "responses":
                {
                    "200":
                    {
                        "description": "successful operation",
                        "content":
                        {
                            "application/json":
                            {
                                "schema":
                                {
                                    "$ref": "#/components/schemas/AuthResponse"
                                }
                            }
                        }
                    },
                    "400":
                    {
                        "description": "Invalid email/password supplied"
                    }
                }
            }
        }
    },
    "tags":
    [
        {
            "name": "Tag",
            "description": "Tags"
        },
        {
            "name": "AuthResponse",
            "description": "Auth"
        },
        {
            "name": "User",
            "description": "Operations about user"
        },
        {
            "name": "Profile",
            "description": "Operations about user profile"
        },
        {
            "name": "Image",
            "description": "Operations about image"
        }
    ],
    "components":
    {
        "schemas":
        {
            "Tag":
            {
                "type": "object",
                "properties":
                {
                    "id":
                    {
                        "type": "integer",
                        "format": "int64"
                    },
                    "name":
                    {
                        "type": "string"
                    }
                },
                "xml":
                {
                    "name": "Tag"
                }
            },
            "AuthResponse":
            {
                "type": "object",
                "properties":
                {
                    "accessToken":
                    {
                        "type": "string"
                    },
                    "refreshToken":
                    {
                        "type": "string"
                    },
                    "user":
                    {
                        "$ref": "#/definitions/User"
                    }
                }
            },
            "User":
            {
                "type": "object",
                "properties":
                {
                    "id":
                    {
                        "type": "integer",
                        "format": "int64"
                    },
                    "profile":
                    {
                        "$ref": "#/definitions/Profile"
                    }
                },
                "xml":
                {
                    "name": "User"
                }
            },
            "Profile":
            {
                "type": "object",
                "properties":
                {
                    "username":
                    {
                        "type": "string"
                    },
                    "firstName":
                    {
                        "type": "string"
                    },
                    "avatar":
                    {
                        "$ref": "#/definitions/Image"
                    }
                }
            },
            "Image":
            {
                "type": "object",
                "properties":
                {
                    "thumb":
                    {
                        "type": "string"
                    },
                    "original":
                    {
                        "type": "string"
                    }
                }
            },
            "ApiResponse":
            {
                "type": "object",
                "properties":
                {
                    "code":
                    {
                        "type": "integer",
                        "format": "int32"
                    },
                    "type":
                    {
                        "type": "string"
                    },
                    "message":
                    {
                        "type": "string"
                    }
                },
                "xml":
                {
                    "name": "##default"
                }
            }
        },
        "requestBodies":
        {
            "Pet":
            {
                "description": "Pet object that needs to be added to the store",
                "content":
                {
                    "application/json":
                    {
                        "schema":
                        {
                            "$ref": "#/components/schemas/Pet"
                        }
                    },
                    "application/xml":
                    {
                        "schema":
                        {
                            "$ref": "#/components/schemas/Pet"
                        }
                    }
                }
            },
            "UserArray":
            {
                "description": "List of user object",
                "content":
                {
                    "application/json":
                    {
                        "schema":
                        {
                            "type": "array",
                            "items":
                            {
                                "$ref": "#/components/schemas/User"
                            }
                        }
                    }
                }
            }
        },
        "securitySchemes":
        {
            "type": "http",
            "scheme": "bearer",
            "bearerFormat": "JWT"
        }
    }
}